{
  "plugins": [
    "react",
    "react-hooks"
  ],
  "env": {
    "node": true,
    "es6": true,
    "browser": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended"
  ],
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "rules": {
    "react/prop-types": 1,
    "react/no-string-refs": 1,
    "react/no-deprecated": 1,
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "indent": [
      2,
      4,
      {
        "SwitchCase": 1
      }
    ],
    "quotes": [
      2,
      "single"
    ],
    "strict": [
      1,
      "global"
    ],
    "brace-style": [
      2,
      "1tbs"
    ],
    "no-sparse-arrays": [
      1
    ],
    "eqeqeq": [
      2
    ],
    "no-else-return": [
      2
    ],
    "no-extra-bind": [
      2
    ],
    "curly": [
      2,
      "all"
    ],
    "no-multi-spaces": [
      2
    ],
    "no-invalid-this": [
      2
    ],
    "no-useless-escape": [
      1
    ],
    "no-useless-concat": [
      1
    ],
    "no-useless-constructor": [
      1
    ],
    "array-bracket-spacing": [
      1,
      "never"
    ],
    "block-spacing": [
      2,
      "always"
    ],
    "camelcase": [
      1,
      {
        "properties": "never"
      }
    ],
    "comma-dangle": [
      1
    ],
    "space-before-blocks": [
      2
    ],
    "space-in-parens": [
      2,
      "never"
    ],
    "space-infix-ops": [
      2
    ],
    "no-multiple-empty-lines": [
      2
    ],
    "eol-last": [
      2
    ],
    "semi": [
      2
    ],
    "keyword-spacing": [
      2,
      {
        "overrides": {
          "if": {
            "after": false
          },
          "for": {
            "after": false
          },
          "while": {
            "after": false
          },
          "switch": {
            "after": false
          },
          "catch": {
            "after": false
          }
        }
      }
    ],
    "no-trailing-spaces": [
      2
    ]
  },
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    },
    "requireConfigFile": true,
    "babelOptions": {
      "configFile": "./babel.config.json"
    }
  },
  "overrides": [
    {
      "files": ["test/**/*.js", "test/**/*.jsx"],
      "env": {
        "node": true
      },
      "rules": {
        "no-invalid-this": 0
      }
    }
  ]
}
