bower_components
node_modules
public/*
!public/img
!public/fonts
typings
coverage
*.log
*.json
server/events.txt
.DS_Store
config/local*
server/logs/*.gz
build/
!tsconfig.json
!tsconfig.client.json
!package-lock.json
.idea/
assets/
memory/
