.cards-played-tracker__container {
    margin-left: 0.2rem;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.cards-played-tracker {
    display: flex;
    align-items: center;
}

.cards-played-tracker__count {
    font-family: var(--font-body);
    font-size: var(--text-h1);
    font-variant-numeric: tabular-nums;
}
