@font-face {
    font-family: 'fiveringsdb';
    src: url('/fonts/fiveringsdb.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'fiveringsdb' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    border: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.game-icon {
    padding-left: 0px;
    padding-right: 0px;
    font-size: 1.6em;
    vertical-align: middle;
    max-width: 24px;
    max-height: 24px;
}

.icon-military {
    font-family: 'fiveringsdb';
    min-width: 21px;
    text-align: center;

    &:before {
        content: "\e900";
        color: var(--color-military-icon);
    }
}

.icon-political {
    font-family: 'fiveringsdb';
    min-width: 21px;
    text-align: center;

    &:before {
        content: "\e901";
        color: var(--color-political-icon);
    }
}

.icon-element-air {
    font-family: 'fiveringsdb';
    margin-top: -5px;

    &:before {
        content: "\e902";
    }
}

.icon-element-earth {
    font-family: 'fiveringsdb';
    margin-top: -5px;

    &:before {
        content: "\e903";
    }
}

.icon-element-fire {
    font-family: 'fiveringsdb';
    margin-top: -5px;

    &:before {
        content: "\e904";
    }
}

.icon-element-void {
    font-family: 'fiveringsdb';
    margin-top: -5px;

    &:before {
        content: "\e905";
    }
}

.icon-element-water {
    font-family: 'fiveringsdb';
    margin-top: -5px;

    &:before {
        content: "\e906";
    }
}

.icon-clan-crab {
    font-family: 'fiveringsdb';
    margin-top: -5px;

    &:before {
        content: "\e907";
        color: var(--clan-crab);
    }
}

.icon-clan-crane {
    font-family: 'fiveringsdb';
    margin-top: -5px;

    &:before {
        content: "\e908";
        color: var(--clan-crane);
    }
}

.icon-clan-dragon {
    font-family: 'fiveringsdb';
    margin-top: -5px;

    &:before {
        content: "\e909";
        color: var(--clan-dragon);
    }
}

.icon-clan-lion {
    font-family: 'fiveringsdb';
    margin-top: -5px;

    &:before {
        content: "\e90a";
        color: var(--clan-lion);
    }
}

.icon-clan-phoenix {
    font-family: 'fiveringsdb';
    margin-top: -5px;

    &:before {
        content: "\e90b";
        color: var(--clan-phoenix);
    }
}

.icon-clan-scorpion {
    font-family: 'fiveringsdb';
    margin-top: -5px;

    &:before {
        content: "\e90c";
        color: var(--clan-scorpion);
    }
}

.icon-clan-unicorn {
    font-family: 'fiveringsdb';
    margin-top: -5px;

    &:before {
        content: "\e90d";
        color: var(--clan-unicorn);
    }
}

.icon-fate {
    height: 16px;
    width: 16px;
}

.icon-honor {
    height: 16px;
    width: 16px;
}

.icon-glory {
    height: 16px;
    width: 16px;
}

.icon-card {
    height: 16px;
    width: 12px;
    margin-top: -2px;
}

.hide-text {
    font-size: 0;
}
