doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description' content='Play Legend of the Five Rings in your browser')
    title Jigoku Online - Play Legend of the Five Rings LCG in your browser
    script(src='https://www.google.com/recaptcha/api.js?render=6LdO-NMsAAAAAOetW0LZ70BAf12jY5Om101J9As2')
    if production
      each cssFile in cssFiles
        link(rel='stylesheet', href=cssFile)
      each jsFile in preloadJs
        link(rel='modulepreload', href=jsFile)
  body
    block content
    if !production
      script(type='module', src='/@vite/client')
      script(type='module', src='/client/index.tsx')
    else
      script(type='module', src=bundleJs)
