.hand-title-bar {
    margin: 5px;
    margin-bottom: 0;
    padding: 5px 0;
    border: 1px solid var(--color-header-border);
    border-radius: 4px 4px 0 0;
    border-bottom: none;
    background: var(--color-header-bg);
    text-align: center;
    text-transform: uppercase;
    width: 480px;
    position: relative;
    font-weight: bold;

    &.small {
        width: calc(var(--card-sm-width) * 7.5);
    }

    &.large {
        width: calc(var(--card-lg-width) * 7.5);
    }

    &.x-large {
        width: calc(var(--card-xl-width) * 7.5);
    }

    &.xxl {
        width: calc(var(--card-xxl-width) * 7.5);
    }
}

.hand {
    height: var(--card-height);
    width: 480px;
    padding: 0px;
    margin: 0px 5px;

    & .card-wrapper {
        margin: 0 0 0 0;
    }

    &.small {
        height: var(--card-sm-height);
        width: calc(var(--card-sm-width) * 7.5);
    }

    &.large {
        height: var(--card-lg-height);
        width: calc(var(--card-lg-width) * 7.5);
    }

    &.x-large {
        height: var(--card-xl-height);
        width: calc(var(--card-xl-width) * 7.5);
    }

    &.xxl {
        height: var(--card-xxl-height);
        width: calc(var(--card-xxl-width) * 7.5);
    }
}

.hand.squish {
    flex-shrink: 1;
    flex-wrap: nowrap;

    & .card-wrapper {
        border-radius: 4px 0px 0px 4px;
        min-width: var(--attachment-offset);
        flex-basis: var(--card-width);

        &.large {
            min-width: var(--attachment-offset-lg);
            flex-basis: var(--card-lg-width);
        }

        &.small {
            min-width: var(--attachment-offset-sm);
            flex-basis: var(--card-sm-width);
        }

        &.x-large {
            min-width: var(--attachment-offset-xl);
            flex-basis: var(--card-xl-width);
        }

        &.xxl {
            min-width: var(--attachment-offset-xxl);
            flex-basis: var(--card-xxl-width);
        }

        &.tail {
            overflow: hidden;

            &.nohide {
                overflow: visible;
                border-radius: 4px;
            }
        }

        & .card-frame {
            border-radius: 4px;

            & .card {
                overflow: visible;
                border-radius: 4px;

                & .card-image {
                    border-radius: 4px;
                }
            }
        }
    }
}
