div.placeholder {
    background-color: rgba(0, 0, 0, 0.0);
    border-color: transparent;
    box-shadow: none;
}

div.placeholder .panel-header {
    background: rgba(0, 0, 0, 0.0);
    padding: 0px;
}

.placeholder {
    background-color: rgba(0, 0, 0, 0.0);
    border-color: transparent;
    box-shadow: none;
    padding: 0;
    position: relative;
    margin: 5px 7px;

    &.card-pile {
        margin: 0 5px;
    }

    &.vertical {
        height: var(--card-height);
        min-width: var(--card-width);
    }

    &.horizontal {
        height: var(--card-width);
        min-width: var(--card-height);
    }

    &.small {
        &.vertical {
            height: var(--card-sm-height);
            min-width: var(--card-sm-width);
        }

        &.horizontal {
            height: var(--card-sm-width);
            width: var(--card-sm-height);
        }
    }

    &.large {
        &.vertical {
            height: var(--card-lg-height);
            min-width: var(--card-lg-width);
        }

        &.horizontal {
            height: var(--card-lg-width);
            width: var(--card-lg-height);
        }
    }

    &.x-large {
        &.vertical {
            height: var(--card-xl-height);
            min-width: var(--card-xl-width);
        }

        &.horizontal {
            height: var(--card-xl-width);
            width: var(--card-xl-height);
        }
    }

    &.xxl {
        &.vertical {
            height: var(--card-xxl-height);
            min-width: var(--card-xxl-width);
        }

        &.horizontal {
            height: var(--card-xxl-width);
            width: var(--card-xxl-height);
        }
    }
}
