.province-pane {
    font-size: 14px;
    position: absolute;
    min-height: 100%;
    top: 0px;
    bottom: 0px;
    background-color: rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.4);
    grid-column-start: 1;
    display: grid;
    grid-template-rows:
        minmax(calc(2 * var(--card-height) + 2 * var(--attachment-offset)), max-content)
        1fr
        var(--center-bar-height)
        1fr
        minmax(calc(2 * var(--card-height) + 2 * var(--attachment-offset)), max-content);
    grid-template-columns: var(--sidebar-width);
    text-overflow: ellipsis;

    &.small {
        grid-template-rows:
            minmax(calc(2 * var(--card-sm-height) + 2 * var(--attachment-offset-sm)), max-content)
            1fr
            var(--center-bar-height)
            1fr
            minmax(calc(2 * var(--card-sm-height) + 2 * var(--attachment-offset-sm)), max-content);
    }

    &.large {
        grid-template-rows:
            minmax(calc(2 * var(--card-lg-height) + 2 * var(--attachment-offset-lg)), max-content)
            1fr
            var(--center-bar-height)
            1fr
            minmax(calc(2 * var(--card-lg-height) + 2 * var(--attachment-offset-lg)), max-content);
    }

    &.x-large {
        grid-template-rows:
            minmax(calc(2 * var(--card-xl-height) + 2 * var(--attachment-offset-xl)), max-content)
            1fr
            var(--center-bar-height)
            1fr
            minmax(calc(2 * var(--card-xl-height) + 2 * var(--attachment-offset-xl)), max-content);
    }

    &.xxl {
        grid-template-rows:
            minmax(calc(2 * var(--card-xxl-height) + 2 * var(--attachment-offset-xxl)), max-content)
            1fr
            var(--center-bar-height)
            1fr
            minmax(calc(2 * var(--card-xxl-height) + 2 * var(--attachment-offset-xxl)), max-content);
    }
}

.sidebar-pane {
    display: flex;
    flex-direction: column;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    justify-content: flex-end;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);

    &.our-side {
        justify-content: flex-start;
        border-bottom: none;
        grid-row-start: 4;
        grid-row-end: 5;
    }
}

.player-nameplate {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
    display: flex;
    flex-direction: row;
    flex-wrap: none;
    font-weight: bold;
    margin: 2px 2px 2px 2px;
    padding-right: 0;
    padding-left: 0;
    padding-top: 2px;
    padding-bottom: 2px;
    text-overflow: ellipsis;
    overflow: hidden;

    &.our-side {
        grid-row-start: 5;
        grid-row-end: 6;
    }
}

.player-nameplate > .player-name {
    min-width: 0px;
    overflow: hidden;
    text-overflow: ellipsis;
}
